/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/06/2016, 19/02/2016 07:46:48
    Author     : aromero
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/06/2016
    Author     : aromero
*/
/* fondos */
/*
@font-face{
    font-family: "font";
    src: url("fonts/Lato-Regular.ttf") format('ttf');    
}*/
html,
body {
  font-family: 'Lato', sans-serif;
}
.bg-primary {
  background-color: #279ebf !important;
}
a.nav-link {
  color: white;
}
.jumbotron {
  border-radius: 0px;
}
.container-fluid {
  padding-left: 0px!important;
  padding-right: 0px!important;
}
