/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/06/2016
    Author     : aromero
*/
/* fondos */
/*
@font-face{
    font-family: "font";
    src: url("fonts/Lato-Regular.ttf") format('ttf');    
}*/
html,
body {
  font-family: 'Lato', sans-serif;
}
.sy-header-submenu {
  width: 100%;
  margin-top: 0px;
}
@media only screen and (max-width: 1290px) {
  .sy-header-submenu {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .sy-header-submenu {
    margin-top: 0px;
  }
}
.w3-btn w3-display-topright w3-padding-16 {
  visibility: hidden;
}
.cuatro {
  background-color: #ffffff;
}
.fondoSubdominio {
  background-color: #ffffff;
}
.fondoLogoSubdominio {
  background-color: #185676;
}
.w3-uno {
  background-color: #279ebf !important;
}
.w3-hover-dos:hover {
  background-color: #060303 !important;
  color: #eeeeee !important;
}
.w3_uno {
  color: white;
  background-color: #279ebf;
}
.w3_dos {
  background-color: #aa0513;
}
.w3_tres {
  background-color: #6379b3;
}
.w3_tres .w3_hover_tres:hover {
  background-color: #aa0513 !important;
}
.w3_cuatro {
  background-color: #eeeeee;
}
/* titulos */
h4.titulosclaros,
h2.titulosclaros {
  color: #e3f2fd;
}
.titulosclaros {
  color: #279ebf;
}
h2.titulosdos,
h3.titulosdos {
  color: #424242;
}
h2.titulosuno {
  color: #279ebf;
}
.titulostres {
  color: #6379b3;
}
section {
  font-family: 'Lato', sans-serif;
}
section .iconos-destacados-dos {
  color: #aa0513;
}
section .titulososcuros {
  color: #424242;
}
section .titulosmedianos {
  color: #279ebf;
}
section .iconos-destacados {
  color: #279ebf;
}
section .iconodestacadoTitulo {
  color: #424242;
}
section .iconolinkgrande {
  color: #aa0513;
}
section .linea {
  border-color: #279ebf;
  border-bottom-style: dashed;
  border-width: 1px;
}
.iconos-destacados :hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.uno_claro .sy-list-head,
.uno_claro .sy-list-footer {
  background: #279ebf;
  color: #ffffff;
}
.uno_claro .sy-busc-close {
  color: white;
  background-color: #279ebf;
}
.dos_claro .sy-list-head,
.dos_claro .sy-list-footer {
  background: #aa0513;
  color: #ffffff;
}
.dos_claro .sy-busc-close {
  float: right;
  color: white;
  background-color: #aa0513;
}
.tres_claro .sy-list-head,
.tres_claro .sy-list-footer {
  background: #6379b3;
  color: #ffffff;
}
.tres_claro .sy-busc-close {
  float: right;
  color: white;
  background-color: #6379b3;
}
.cuatro_claro .sy-list-head,
.cuatro_claro .sy-list-footer {
  background: #6379b3;
  color: #ffffff;
}
.cuatro_claro .sy-busc-close {
  float: right;
  color: white;
  background-color: #6379b3;
}
.cuatro_claro .nito {
  color: white;
}
.bar-item-lista-vertical img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  left: 50%;
}
/* Tooltip container */
/* Clase que tendra el tooltip */
.cssToolTip {
  position: relative;
  /* Esta clase tiene que tener posicion relativa */
  color: #ff8c00;
  /* Color del texto */
}
/* El tooltip */
.cssToolTip span {
  /*background: rgba(20,20,20,0.9) url('img/info.gif') center left 5px no-repeat; */
  background: #aa0513;
  border: 2px solid #ffffff;
  /*#87cefa;*/
  border-radius: 3px;
  box-shadow: 2px 2px 2px #333;
  color: #ffffff;
  /*blanco*/
  display: none;
  /* El tooltip por defecto estara oculto */
  font-size: 0.8em;
  padding: 8px 8px 8px 8px;
  max-width: 6000px;
  position: absolute;
  /* El tooltip se posiciona de forma absoluta para no modificar el aspezto del resto de la pagina */
  top: 15px;
  /* Posicion apartir de la parte superior del primer elemento padre con posicion relativa */
  left: 100px;
  /* Posicion apartir de la parte izquierda del primer elemento padre con posicion relativa */
  z-index: 100;
  /* Poner un z-index alto para que aparezca por encima del resto de elementos */
}
/* El tooltip cuando se muestra */
.cssToolTip:hover span {
  display: inline;
  /* Para mostrarlo simplemente usamos display block por ejemplo */
}
.w3_hover:hover {
  background-color: #aa0513 !important;
  color: #eeeeee !important;
}
.w3_hover:hover div p {
  color: #eeeeee !important;
}
.w3_hover_dos:hover {
  background-color: #bbb7b7 !important;
  color: #aa0513 !important;
}
.w3_hover_text:hover {
  color: #279ebf !important;
  font-weight: bold;
}
.ellipsis {
  font-size: 16px;
  font-weight: 500;
  color: #eeeeee !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 45px!important;
  padding: 8px!important;
  text-align: initial;
}
img.crop-img {
  min-height: 420px;
  min-width: 420px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0px;
  position: relative;
  background-size: cover;
  object-fit: cover;
  background-position: 50% 50%;
}
@media only screen and (max-width: 768px) {
  img.crop-img {
    object-position: 50% 5%;
    min-height: 250px;
    min-width: 250px;
  }
}
.hover-text {
  height: 420px;
  width: 418px;
  max-height: 420px;
  max-width: 418px;
  text-overflow: ellipsis;
  background-color: #d8d8d8e6!important;
}
.menulink {
  padding-top: 30px;
  display: none;
}
@media only screen and (max-width: 768px) {
  .menulink {
    display: none;
  }
}
img.foto-folleteria {
  width: 100px;
  height: 150px;
  object-fit: cover;
  background-size: cover;
  overflow: hidden;
  background-position: 50% 50%;
}
.sizecaja-folleteria {
  height: 370px;
  max-height: 370px;
}
@media only screen and (max-width: 768px) {
  .sizecaja-folleteria {
    height: 510px;
    max-height: 510px;
  }
}
h3.sizeTitulo-folleteria {
  height: 70px;
}
.crop-text-folleteria {
  height: 231px !important;
  overflow: hidden;
  /* Escondemos la parte sobrante */
  text-align: initial;
  padding: 4px 4px 4px 4px !important;
  text-overflow: -o-ellipsis-lastline;
  /* permite añadir los puntos suspensivos en cualquier línea limitando la altura de la caja */
  content: '...';
}
.boxshadow {
  font-size: 20px;
  color: #ffffff;
  height: 180px;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(101, 101, 101, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(101, 101, 101, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(101, 101, 101, 0.75);
}
.nav-arrows a {
  background: #279ebf url(/img/turismo/nav.png) no-repeat top left;
}
ol.listSubItemValores {
  padding-left: 50px;
  list-style-type: disc;
}
#btnMenuCabeceraBuscador {
  visibility: hidden;
}
.card_de_datos {
  max-height: 91%!important;
  max-width: 95%!important;
  font-size: 16px !important;
}
.hover-text h3,
.hover-text h2,
.hover-text h1 {
  font-size: 20px!important;
  color: #279ebf;
}
/* #03bccb celeste 1d8ec5*/
/* bordo */
/* 77132d azul pastel */
/* #DE1068; /* gris */
/* #DE1068; /* fuccia */
/*@enfasis1_salud : #419FCE; /* celeste */
/*@enfasis2_salud : #185676; /* azul pastel */
/*@enfasis3_salud : #716F91; /* azul lila */
/*@enfasis_hover : #DE1068; /* fuccia */
